/**
* @site 		bel-annuaire
* @version 		1.0
* @lastmodified 2021-03-01
*/

/** --- = @section TYPOGRAPHY ---*/
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
       url('../fonts/sourcesanspro-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --main-text-color: #474747;
  --background-text-color: #ffffff;
  --main-decoration-color: #4f8bb5;
}

/** --- = @section LAYOUT---*/

html {
  font-family: "Source Sans Pro", sans-serif;
  height: 100%;
  color: var(--main-text-color);
}

body {
  padding: 10px 45px 45px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
  border-bottom: solid 1px var(--main-text-color);
}

a:hover {
  border-bottom: solid 1px var(--main-decoration-color);
}

nav ul li a, a.logo {
  text-decoration: none;
  border-bottom: none;
}

img {
  max-width: 100%;
}

/** --- = @section COMPONENT ---*/

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
  "a b"
  "c c";
}

h2 {
  margin-top: 40px;
  font-weight: normal;
  font-size: 2.2em;
}

h3 {
  margin-top: 40px;
  font-weight: normal;
  font-size: 1.5em;
}

p {
  line-height: 1.4rem;
}

.logo img {
 grid-area: a;
}

nav.menu {
  text-align: right;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-area: c;
}

nav.menu li {
  text-align:center;
  padding-bottom: 10px;
}

nav.menu li a.active {
  border-bottom: solid 2px var(--main-decoration-color);
}

/* MENU TOGGLE */

/* Show Hamburger Icon */
#nav-wrap label {
  display: inline-block;
  color: var(--main-text-color);
  font-style: normal;
  font-size: 1.2em;
  padding: 10px;
  grid-area: b;
  text-align: right;
  align-self: center;
}

/* Hide Hamburger */
#nav-toggle { display: none; }

/* Break down menu items into vertical */
#nav-items a {
  text-align: center;
}

/* Toggle Show/Hide Menu */
#nav-items { display: none; }
#nav-wrap input:checked ~ #nav-items { display: block; }

/* HOMEPAGE */

.introduction p {
  font-size: 1.2rem;
  line-height: 2.0rem;
}

img.image-banner {
  margin-top: 40px;
}

.presentation img,
.presentation p,
.localisation img,
.localisation p {
  margin-top: 20px;
}

.presentation img {
  max-height: 150px;
}

ul.contact-details,
ul.contact-networks {
  margin-bottom: 20px;
  line-height: 1.5rem;
}

.contact form {
  margin-top: 30px;
  text-align: right;
}

/* Hide labels visually but not from screen readers */
.contact form label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.contact form input,
.contact form textarea{
  border: 2px solid var(--main-decoration-color);
  padding: 8px 4px;
  width: 100%;
  margin-bottom: 20px;
  text-indent: 10px;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  color: var(--main-text-color);
  opacity: 1;
}

.contact form input[type=submit] {
  background-color: var(--background-text-color);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  width: auto;
  padding: 5px 12px 5px 10px;
}

.contact form input[type=submit]:hover {
  background-color: var(--background-text-color);
  box-shadow: 0 0 0 2px var(--main-decoration-color);
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

/* EVENTS PAGE */


ul.events-list .date {
  font-weight: bold;
}

ul.events-list > li {
  margin-top: 60px;
  position: relative;
}

.events-list > li > ul {
  padding-left: 15px;
}

.events-list > li > ul li {
  list-style-type: disc;
}

/* Disable style for event-details ul */
.events-list .event-details {
  padding-left: 0;
}

.events-list .event-details > li {
  list-style-type: none;
}

@media screen and (min-width:640px) {
  body {
    max-width: 850px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 65px;
  }

  header {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(55px, 100px);
    grid-gap:100px;
    grid-template-areas:
    "a b";
  }

  h2 {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  nav.menu li {
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 5px;
  }

  /* MENU TOGGLE */

  /* Hide Hamburger icon */
  #nav-wrap label {
    display: none;
  }

  /* Display menu */
  #nav-items {
    display: inline;
    grid-area: b;
  }

  /* HOMEPAGE */

  .introduction, .presentation, .image-banner, .localisation, .contact {
    margin-top: 100px;
  }

  .introduction p {
    font-size: 1.5rem;
    max-width: 635px;
    line-height: 2.5rem;
  }

  .presentation {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 100px;
    grid-template-areas:
    ". b"
    "a c";
  }

  .presentation img {
    grid-area: a;
    max-height: 100%;
  }

  .presentation h3 {
    grid-area: b;
  }

  .presentation p {
    grid-area: c;
  }

  .localisation {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-columns: minmax(100px, 425px);
    column-gap: 100px;
    grid-template-areas:
    "a ."
    "b c";
  }

  .localisation img {
    grid-area: c;
  }

  .localisation h3 {
    grid-area: a;
  }

  .localisation p {
    grid-area: b;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    grid-template-areas:
    "a ."
    "b d"
    "c d";
  }

  .contact h3 {
    grid-area: a;
  }

  .contact .contact-details {
    grid-area: b;
  }

  .contact .contact-networks {
    grid-area: c;
  }

  .contact form {
    grid-area: d;
  }

  footer {
    margin-top: 65px;
  }

  /* EVENTS PAGE */

  ul.events-list {
    padding-left: 10em;
  }

  ul.events-list > li::before {
    content: "";
    background-color: var(--main-decoration-color);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -3em;
    border-radius: 10px;
  }
}
